<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script>

function file_upload_test(){

    var formData = new FormData($("#fileForm")[0]);
    console.log("work?");
    console.log(FormData);

    $.ajax({
        type : 'post',
        url : '/test/file/uploadAjax',
        data : formData,
        processData : false,
        dataType : "json",
        contentType : false,
        async    : false,
        success : function(data) {
            alert("파일 업로드 성공.");
        },
        error : function(error) {
            alert("파일 업로드에 실패하였습니다.");

        }
    });
}

</script>

<body>
<h2>XTORM API TEST</h2>

<!--파일업로드 ajax version
<form id="fileForm"  enctype="multipart/form-data" onsubmit="file_upload_test();">
    <span class="file" id="file">
        <input type="file" id="testUploadFile" name="file" >
        <input type="submit" value="올리기"/>
    </span>
</form>
-->


<form method="POST" action="/upload" enctype="multipart/form-data" >
    <span class="file" id="file">
        <input type="file" name="uploadfile" multiple="multiple" >
        <input type="submit" value="올리기"/>
    </span>
</form>

</body>
</html>