<!DOCTYPE html>
<html lang="en">
<head>
    <title>파일업로드예제</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/script_2.js"></script>
</head>
<body>

<div class="container">
    <h2>파일업로드</h2>
    <form name="dataForm" id="dataForm" onsubmit="return registerAction()">
        <button id="btn-upload" type="button" style="border: 1px solid #ddd; outline: none;">파일 추가</button>
        <input id="input_file" multiple="multiple" type="file" style="display:none;">
        <span style="font-size:10px; color: gray;">※첨부파일은 최대 10개까지 등록이 가능합니다.</span>
        <div class="data_file_txt" id="data_file_txt" style="margin:40px;">
            <span>첨부 파일</span>
            <br />
            <div id="articlefileChange">
            </div>
        </div>
        <button type="submit" style="border: 1px solid #ddd; outline: none;">전송</button>
    </form>
</div>


</body>
</html>