<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/script.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h2>XTORM API TEST ajax.ver</h2>

<!--파일업로드 ajax version -->
<form id="createForm" enctype="multipart/form-data" onsubmit="ajax_upload();">

    <div><input type="file" name="file"  multiple="multiple" ></div>
    <input type="file" name="file" multiple="multiple"  >
    <input type="submit" value="올리기"/>
</form>


&nbsp; &nbsp; &nbsp;
<form id="downloadForm" enctype="multipart/form-data" onsubmit="ajax_download();">
    <input type="file" name="file" multiple="true" >
    <input type="submit" value="다운로드"/>
</form>
&nbsp; &nbsp; &nbsp;
<form id="deleteForm" enctype="multipart/form-data" onsubmit="ajax_delete();">
    <input type="file" name="file" multiple="true" >
    <input type="submit" value="삭제"/>
</form>

</body>
</html>